.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.gallery-item {
  flex-basis: calc((100% - 20px) / 3);
  box-sizing: border-box;
}

.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s;
}

/* .gallery-image:hover {
  transform: scale(1.05);
} */
